.canvas-container {
    position: relative;
}
.widget {
    position: relative;
    background: #efefef;
}

.chart-legend ul {
    list-style: none;
    width: 100%;
    margin: 0 auto 30px;
}
.chart-legend li {
    text-indent: 16px;
    line-height: 24px;
    position: relative;
    font-weight: 200;
    display: block;
    float: left;
    width: 50%;
}
.chart-legend  li:before {
    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;
    content: "";
}
.ship:before { background-color: #669900; }
.rework:before { background-color: #d35400; }

.widget p {
    text-align: center;
}
.widget h3 {
    text-align: center;
    color: #fff;
    line-height: 2em;
    background: #d35400;;
}
.widget.line p span {
    color: #dbba34;
}
.widget.line p strong {
    color: #637b85;
    font-weight: 400;
}
@media only screen and (min-width:600px){
    .third {
        float: left;
        width: 47.5%;
        margin-left: 5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}
 
@media only screen and (min-width:960px){
    .third {
        float: left;
        width: 30%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        margin-right: 0;
        margin-left: 2.5%;
        width: 30%;
    }
}