.canvas-container {
    position: relative;
}
.widget {
    position: relative;
    background: #efefef;
}

.chart-legend ul {
    list-style: none;
    width: 100%;
}
.chart-legend li {
    position: relative;
    font-weight: 200;
    display: block;
    float: left;
    font-size: 0.8em;
}
.chart-legend  li:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
}
.ship:before { background-color: #637b85; }
.rework:before { background-color: #2c9c69; }
.admin:before { background-color: #dbba34; }
.prod:before { background-color: #c62f29; }

.widget p {
    text-align: center;
}
.widget h3 {
    text-align: center;
    color: #fff;
    line-height: 2em;
    background: #669900;;
}
.widget.line p span {
    color: #dbba34;
}
.widget.line p strong {
    color: #637b85;
    font-weight: 400;
}
@media only screen and (min-width:600px){
    .third {
        float: left;
        width: 47.5%;
        margin-left: 5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}
 
@media only screen and (min-width:960px){
    .third {
        float: left;
        width: 30%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .third:first-child {
        margin-left: 0;
    }
    .third:last-child {
        margin-right: 0;
        margin-left: 2.5%;
        width: 30%;
    }
}