.white {
    color: white;
}
.btn-lg {
    font-size: 38px;
    line-height: 1.33;
    border-radius: 6px;
}
.box > .icon > .info {
    margin-top: -40px;
    background: rgba(0, 0, 0, 0.04);
    border: 2px solid #e0e0e0;
    padding: 15px 0 10px 0;
}
.box > .icon > .info > h3.title {
    color: #222;
    font-weight: 500;
}
    .box > .icon > .info > p {
    /*color: #666;*/
    line-height: 1.5em;
    /*margin: 20px;*/
}
/*.box .space {
    height: 30px;
}*/
.ingreso{
    background-color: #669900;
    color:#c5e26d;
}
.gasto{
    background-color: #e67e22; 
    color: #ffd980;
}
.ahorro{
    background-color: #9933cc; 
    color: #d6adeb;
}

.box {
    border: 1px solid #9933cc; 
}
.info {
    margin: 20px 10px 0 10px;
}
